extends ../layouts/layout
block content
	h2 Add New Product
	form(action='/admin/add-product', method='post')
		.form-group
			label Title
			input.span3.form-control(type='text', name='title')
		.form-group
			label Description
			input.span3.form-control(type='text', name='description')
		.form-group
			label Price
			input.span3.form-control(type='text', name='price')
		//input(type="hidden", name="imagePath" value="")
		input(type="hidden", name="_csrf" value=csrfToken)

		input.btn.btn-primary.pull-right(type='submit')
		.clearfix