doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
  body
    include ../partials/_header
    .container
      block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='../bootstrap/dist/js/bootstrap.js')
    script(src='../javascripts/script.js')

